.header .contentHeader {
  color: #fff;
  background: #003a5d;
}

.header .contentHeader .progBar>div {
  background: #f84e02;
}

.header .contentHeader .logoTop {
  width: 70%;
}

@media (min-width: 992px) {
  .header .contentHeader .miga_pan p {
    color: #fff;
  }

  .header .contentHeader>div:nth-child(1) {
    grid-template-columns: 220px 1fr 50px 40px 40px;
  }
}

@media (min-width: 1200px) {
  .header .contentHeader {
    height: 90px !important;
  }

  .header .contentHeader .progBar {
    height: 6%;
    margin-top: 28px;
  }

  .header .contentHeader>div:nth-child(1) {
    grid-template-columns: 300px 1fr 60px 60px;
    padding: 5px 10px;
  }

  .header .contentHeader .miga_pan p {
    color: #fff;
  }
}

.header .contentHeader .txPg {
  color: #fff;
}

.header .contentHeader i {
  color: #fff;
}

.header .contentHeader .contCircleBar span.current {
  background: #BFEE30 !important;
}

.contCircleBar span {
  background: #beee30b7 !important;
}

.btn-navigation {
  color: #FDC300;
  border: 1px solid #FDC300;
}

.btn-navigation i {
  color: #FDC300;
}

.btn-navigation:hover {
  color: #fff;
  background: #fcd34e;
}

.btn-parallax-mobile {
  background: #003a5d;
}

@media (min-width: 992px) {
  .btn-navigation {
    border: none;
  }
}

@media (min-width: 992px) {
  .btn-navigation:hover i {
    color: #fcd34e;
  }
}

.sf-bg-dark {
  background: #022249;
}

.sf-blue {
  color: #0a9ead;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.iframe-actividad-lumi {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10.5;
  border: none;
}

.iframe-container {
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 45%;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.header .contentHeader .progBar2>div {
  background: #f84e02;
}

.sf-text-secondary {
  color: #008fb6;
}

.dropdown-oval-dot span {
  background: #008fb6 !important;
}

.dropdown-oval-dot {
  background: rgba(0, 144, 184, 0.57);
}

.dropdown-oval-dot.active {
  background: #00c1f7;
}


@media (min-width: 1200px) {
  .card-step {
    width: 415px;
  }
}


.iframe-video-horizontal-web {
  width: 40vw;
  height: 55vh;
}

@media (max-width: 768px) {
  .iframe-video-horizontal-mobile {
    width: 85vw;
    height: 30vh;
  }
}

.sf-btn-blue {
  border: 1px solid #0b3d5c;
}

/* Forzar que el body tenga z-index bajo cuando hay modal */

.sf-max-w-p80 {
  max-width: 80% !important;
}

@media (min-width: 768px) {
  .w-lg-75 {
    width: 75% !important;
  }
}


.dropdown-oval-dot.current2 {
  opacity: 1;
  background: #008fb694;
  position: relative;
}