.slider_sld2_bienvenida{
  width: 100%;
  height: 100%;
  min-height: 320px; /* ajusta según diseño */
  position: relative;
  overflow: hidden;
}

.slides_sld2_bienvenida{
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_sld2_bienvenida{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.slide_sld2_bienvenida.active_sld2_bienvenida{
  opacity: 1;
}
