.container_card_sld10_politicas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5%;
  gap: 20px;
}

.card_sld10_politicas {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 380px;
  width: 100%;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card_sld10_politicas:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.card_sld10_politicas p {
  margin-bottom: 5px;
  line-height: 1.2;
  font-weight: 600;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.boton_sld10_politicas {
  background-color: #008fb6;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  text-align: center;
  width: 60%;
}

.icono_sld10_politicas {
    font-size: 40px;
    color: #008fb6;
    margin-bottom: 15px;
}

.boton_sld10_politicas:hover {
    background-color: #fff;
    color: #008fb6;
    border: solid 1px #008fb6;
}