/* ESTILOS ACTIVIDAD */

.activity-option {
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
    font-weight: 500;
}

.activity-option.selected {
    background-color: #e0f0ff;
    border-color: #0d6efd;
}

.activity-option.correct {
    background-color: #d1f5d3;
    border-color: #198754;
}

.activity-option.incorrect {
    background-color: #f8d7da;
    border-color: #dc3545;
}