.img-azul-logo {
  width: 20%;
  float: left;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Modificación para Cuadro 5 para que ocupe 100% */
.container-grid .ag-courses_item:nth-child(5) {
  grid-column: span 2;
}

/* Por defecto, imagen en escala de grises */
.zoom-img {
  transition: transform 0.2s ease-out, filter 0.3s ease;
  width: 60%;
  margin: 0 auto .5rem;
  border: 2px solid #f8f8f8d3;
  border-radius: 10px 40px;
  filter: grayscale(100%);
}

/* Cuando haces hover o clic en la caja completa, se activa la imagen */
.ag-courses_item:hover .zoom-img,
.ag-courses_item:active .zoom-img {
  filter: grayscale(0%);
}


.zoom-img-modal {
  transition: transform 0.2s ease-out;
  width: 50%;
  margin: 0 auto;
  border: 2px solid #f8f8f8d3;
  border-radius: 10px 40px;
}


.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 2% 2%;
  background-color: #005ABB;
  overflow: hidden;
  position: relative;
  border-radius: 20px 100px;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 0px;
  margin: 0 0 10px;
  overflow: hidden;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  font-family: 'Futura Bk BT', sans-serif;
  line-height: 1.2em;
  color: var(--bluedark);
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  text-align: center;
  line-height: 1.2em;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 100%;
  width: 100%;
  background-color: #fcc200;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


/* Estado normal en escala de grises */
.ag-courses-item_bg {
  background: linear-gradient(360deg, #cfcfcf, #f0f0f0);
  /* escala de grises suave */
  transition: background 0.3s ease;
}

/* Hover y clic con colores según el nth-child */
.ag-courses_item:nth-child(1n):hover .ag-courses-item_bg,
.ag-courses_item:nth-child(1n):active .ag-courses-item_bg {
  background: linear-gradient(360deg, #5DFF00, #FFF400);
}

.ag-courses_item:nth-child(2n):hover .ag-courses-item_bg,
.ag-courses_item:nth-child(2n):active .ag-courses-item_bg {
  background: linear-gradient(360deg, #00C1FF, #43FF94);
}

.ag-courses_item:nth-child(3n):hover .ag-courses-item_bg,
.ag-courses_item:nth-child(3n):active .ag-courses-item_bg {
  background: linear-gradient(360deg, #FABC00, #FFED00);
}

.ag-courses_item:nth-child(4n):hover .ag-courses-item_bg,
.ag-courses_item:nth-child(4n):active .ag-courses-item_bg {
  background: linear-gradient(360deg, #8E43FF, #3B346D);
}

.ag-courses_item:nth-child(5n):hover .ag-courses-item_bg,
.ag-courses_item:nth-child(5n):active .ag-courses-item_bg {
  background: linear-gradient(360deg, #8E43FF, #FF4971);
}


@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: 1fr;
    /* 1 columna en pantallas pequeñas */
  }

  .container-grid .ag-courses_item:nth-child(5) {
    grid-column: span 1;
  }
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 5px;
    line-height: 1;
    font-size: 22px;
    line-height: 1.3em;
    font-weight: 600;
  }

  .ag-courses-item_link {
    padding: 5px;
  }

  .ag-courses-item_date-box {
    font-size: 18px;
  }

  .zoom-img {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #f8f8f8d3;
    border-radius: 10px 80px;
  }

}