.background-sld1 {
  position: relative;
  background-image: url(./img/fondo-logo-aris.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#slideshow_anim {
  width: 100%;
  height: 89vh;
  position: relative;
  overflow: hidden;
}

#slide_anim {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}